@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    font-family: 'Courier Prime', monospace;
  }

.name-header {
    text-align: center;
    font-size: 1.5rem;
}

.portrait-container {
    text-align: center; 
    padding: 20px 0; 
  }
  
.portrait {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border: 3px solid rgb(25, 24, 24); 
    box-shadow: 0 0 8px rgba(0,0,0,0.1); 
  }


@media (max-width: 600px) {
    h1 {
      font-size: 1rem;
    }
}

.introduction h1 {
    text-align: center;
}

.introduction p {
    text-align: center;
}

.email-link {
    text-decoration: none;
    color: inherit;
}

.email-link:hover {
    text-decoration: underline;
    color: rgb(219, 176, 95);
    transition: 0.5s;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.about-me, .experience {
    width: 48%;
    text-align: center;
}

.projects h2 {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
  }
